<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Normal Game</title>
    <link
      rel="stylesheet"
      id="themeStylesheetLink"
      href="/styling/themes/summer.css"
    />
    <link rel="stylesheet" href="/fixed-game.css" type="text/css" />
    <script src="/fixed-game.js" type="module"></script>
  </head>
  <body>
    Choose a Theme:
    <select id="themeSelect">
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
    <br />
    <a href="/">Back to the game options</a>
    <h1 id="title">Fixed Game</h1>
    <hr />
    <div class="container">
      <div class="alert-container" data-alert-container></div>
      <div data-grid class="board">
        <div class="square" data-col="1" data-row="1"></div>
        <div class="square" data-col="2" data-row="1"></div>
        <div class="square" data-col="3" data-row="1"></div>
        <div class="square" data-col="4" data-row="1"></div>
        <div class="square" data-col="5" data-row="1"></div>

        <div class="square" data-col="1" data-row="2"></div>
        <div class="square" data-col="2" data-row="2"></div>
        <div class="square" data-col="3" data-row="2"></div>
        <div class="square" data-col="4" data-row="2"></div>
        <div class="square" data-col="5" data-row="2"></div>

        <div class="square" data-col="1" data-row="3"></div>
        <div class="square" data-col="2" data-row="3"></div>
        <div class="square" data-col="3" data-row="3"></div>
        <div class="square" data-col="4" data-row="3"></div>
        <div class="square" data-col="5" data-row="3"></div>

        <div class="square" data-col="1" data-row="4"></div>
        <div class="square" data-col="2" data-row="4"></div>
        <div class="square" data-col="3" data-row="4"></div>
        <div class="square" data-col="4" data-row="4"></div>
        <div class="square" data-col="5" data-row="4"></div>

        <div class="square" data-col="1" data-row="5"></div>
        <div class="square" data-col="2" data-row="5"></div>
        <div class="square" data-col="3" data-row="5"></div>
        <div class="square" data-col="4" data-row="5"></div>
        <div class="square" data-col="5" data-row="5"></div>

        <div class="square" data-col="1" data-row="6"></div>
        <div class="square" data-col="2" data-row="6"></div>
        <div class="square" data-col="3" data-row="6"></div>
        <div class="square" data-col="4" data-row="6"></div>
        <div class="square" data-col="5" data-row="6"></div>
      </div>
      <div class="keyboard">
        <div class="letter" data-letter="q">Q</div>
        <div class="letter" data-letter="w">W</div>
        <div class="letter" data-letter="e">E</div>
        <div class="letter" data-letter="r">R</div>
        <div class="letter" data-letter="t">T</div>
        <div class="letter" data-letter="y">Y</div>
        <div class="letter" data-letter="u">U</div>
        <div class="letter" data-letter="i">I</div>
        <div class="letter" data-letter="o">O</div>
        <div class="letter" data-letter="p">P</div>
        <div class="keyboard-space"></div>
        <div class="letter" data-letter="a">A</div>
        <div class="letter" data-letter="s">S</div>
        <div class="letter" data-letter="d">D</div>
        <div class="letter" data-letter="f">F</div>
        <div class="letter" data-letter="g">G</div>
        <div class="letter" data-letter="h">H</div>
        <div class="letter" data-letter="j">J</div>
        <div class="letter" data-letter="k">K</div>
        <div class="letter" data-letter="l">L</div>
        <div class="keyboard-space"></div>
        <div class="letter" data-enter="enter">Enter</div>
        <div class="letter" data-letter="z">Z</div>
        <div class="letter" data-letter="x">X</div>
        <div class="letter" data-letter="c">C</div>
        <div class="letter" data-letter="v">V</div>
        <div class="letter" data-letter="b">B</div>
        <div class="letter" data-letter="n">N</div>
        <div class="letter" data-letter="m">M</div>
        <div class="letter" data-delete>Del</div>
      </div>
    </div>
    <script>
      function initThemeSelector() {
        const themeSelect = document.getElementById("themeSelect");
        const themeStylesheetLink = document.getElementById(
          "themeStylesheetLink"
        );
        const currentTheme = localStorage.getItem("theme") || "light";
        function activateTheme(themeName) {
          themeStylesheetLink.setAttribute("href", `/themes/${themeName}.css`);
        }
        themeSelect.addEventListener("change", () => {
          activateTheme(themeSelect.value);
          localStorage.setItem("theme", themeSelect.value);
        });
        themeSelect.value = currentTheme;
        activateTheme(currentTheme);
      }
      initThemeSelector();
    </script>
  </body>
</html>
