body {
    background-color: cadetblue;
}

header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-options {
    margin: auto;
    height: auto;
    position: absolute;
    bottom: 50%;
    display: grid;
}

a {
    margin: 30px;
    font-size: 20px;
    color: black;
}

#game-option {
    border-width: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 50px
}