body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./istockphoto-1174989484-170667a.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

header {
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    font-size: 50px;
    margin-bottom: 20px;
}
.W {
    
    background-color: white;
    box-shadow: 5px 5px 5px black;
    width: max-content;
}

#container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-options {
    margin-top: 100px;
    height: auto;
    position: absolute;
    display: grid;
}

a {
    margin: 30px;
    font-size: 20px;
    color: black;
}

.game-option {
    border-width: 10px;
    border-radius: 5px;
    background-color: white;
    margin: 50px;
}